{% extends 'base.jinja' %}
{% block content %}

<body>
    <h1 style="text-align: center; margin-top: 20px;">{{ app_name }}</h1>
    <div class="container">
        {% for note in notes %}
        <div class="row">
            <div class="column">
            <article>
                <h2>{{ note.title }}</h2>
                <p>{{ note.body }}</p>
                <ul>
                    <li>Author: {{ note.author }}</li>
                    <li>Created data: {{ note.creation }}</li>
                </ul>
            </article>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}