{% extends 'base.jinja' %}
{% block content %}
{% from "formmacro.jinja" import render_field %}

<div class="container">
  <div class="row">
      <div class="column column-33 column-offset-33">
        <div class="column">
        <form action="{{ url_for('login') }}" method="POST">
            {{ render_field(form.login) }}
            {{ render_field(form.password) }}
            <input class="button-primary"  type="submit" value="Send">
        </form>
      </div>
        </div>
    </div>
</div>
{% endblock %}
